:root {
    --white: #fff;
    --dark-gray: #111111;
    --gray: #9a9a9a;
    --orange: #fdbe00;
    --burnt-orange: #ec601e;
    --pink: #e00a8c;
    --red: #ff3600;
    --darker-red: #db2048;
    --blue: #0fb9e6;
    --yellow: #fdcf31;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--dark-gray, #111111);
    font-family: Roboto, Arial, sans-serif;
    color: var(--white, #fff);
}
a {
    text-decoration: none;
    color: var(--white, #fff);
}
button {
    border: none;
}
h1 {
    font-size: 80px;
    font-weight: bold;
    border-bottom: 3px solid var(--white, #fff);
    padding: 40px 0;
}
h2 {
    font-size: 48px;
    font-weight: bold;
    border-bottom: 3px solid var(--white, #fff);
    padding: 40px 0 20px 0;
}
.em {
    font-style: italic;
}
.flex {
    display: flex;
}
.btn {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 32px;
    font-weight: bold;
    margin: 5px;
    display: block;
    text-align: center;
    transition: all .2s ease-in-out;
}
.btn:hover {
    transform: scale(1.1);
}
.body-wrapper {
    width: 75%;
    margin: 0 auto;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    font-size: 24px;
    padding: 20px 0;
    border-bottom: 3px solid var(--white, #fff);
}
.menu li {
    padding-right: 40px;
}
.menu a {
    transition: all .2s ease-in-out;
}
.menu a:hover {
    color: var(--gray, #9a9a9a);
}
.request-wrapper {
    margin-top: 40px;
    display: flex;
}
.request-wrapper div {
    width: 50%;
    margin-right: 90px;
}
.request-wrapper h1 {
    font-size: 40px;
    font-weight: bold;
    border-bottom: 3px solid var(--white, #fff);
    padding: 20px 0;
}
.request-wrapper h3, .fm-btn-wrapper h3 {
    font-size: 32px;
    font-weight: bold;
    padding: 20px 0;
}
.fm-btn-wrapper h3 {
    padding: 15px 0;
}
.jr {
    background-color: var(--yellow, #fdcf31);
}
.ym {
    background-color: var(--red, #ff3600);
    margin-left: 20px;
}
.rr {
    background-color: var(--pink, #e00a8c);
}
.sr {
    background-color: var(--blue, #0fb9e6);
}
.re {
    background-color: var(--burnt-orange, #ec601e);
    margin-left: 20px;
}
.btn.fm:hover {
    transform: none;
}
.fm {
    background-color: var(--darker-red, #ff3600);
}
.filemaker-wrapper {
    margin-top: 40px;
}
.filemaker-wrapper h1 {
    font-size: 40px;
    font-weight: bold;
    border-bottom: 3px solid var(--white, #fff);
    padding: 20px 0;
}
.filemaker-wrapper p {
    width: 45%;
    margin: 25px 0;
    font-size: 20px;
    line-height: 1.2em;
}
.fm-btn-wrapper {
    margin-left: 63px;
    margin-top: 5px;
}
.form-information img {
    margin: 60px 10px;
    width: 97%;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.contact-info div {
    padding: 10px 25px 10px 0;
}
.contact-info h3 {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 10px;
}
.contact-info p {
    line-height: 1.5em;
    font-size: 20px;
}
.contact-info a {
    text-decoration: underline;
}